{#
 # Part of the ETD Framework Twig Macros Package
 #
 # @copyright   Copyright (C) 2015 ETD Solutions. Tous droits réservés.
 # @license     Apache License 2.0; see LICENSE
 # @author      ETD Solutions http://etd-solutions.com
 #}

{%- set titleCol = titleCol|default(0) -%}
{%- set filterCol = filterCol|default(0) -%}
{%- set buttonsCol = buttonsCol|default(0) -%}
{%- if titleCol == 0 and filterCol == 0 and buttonsCol == 0 -%}
    {%- if toolbar.title is not empty -%}

        {%- set titleCol = 12 -%}

        {%- if toolbar.filterForm is not null and toolbar.buttons is empty -%}
            {%- set titleCol = 6 -%}
            {%- set filterCol = 6 -%}
        {%- endif -%}

        {%- if toolbar.filterForm is null and toolbar.buttons is not empty -%}
            {%- set titleCol = 6 -%}
            {%- set buttonsCol = 6 -%}
        {%- endif -%}

        {%- if toolbar.filterForm is not null and toolbar.buttons is not empty -%}
            {%- set titleCol = 4 -%}
            {%- set filterCol = 4 -%}
            {%- set buttonsCol = 4 -%}
        {%- endif -%}

    {%- else -%}

        {%- if toolbar.filterForm is not null -%}
            {%- set filterCol = 12 -%}

            {%- if toolbar.buttons is not empty -%}
                {%- set filterCol = 6 -%}
                {%- set buttonsCol = 6 -%}
            {%- endif -%}

        {%- else -%}

            {%- set buttonsCol = 12 -%}

        {%- endif -%}

    {%- endif -%}
{%- endif -%}
{% if titleCol > 0 or filterCol > 0 or buttonsCol > 0 %}
<div id="toolbar" class="container-fluid">
    <div class="row">
        {% if toolbar.title is not empty %}
            <div class="col-md-{{ titleCol }}">
                <h1>{{ toolbar.title }}</h1>
            </div>
        {% endif %}
        {% if toolbar.filterForm is not null %}
            <div class="col-md-{{ filterCol }}">
                {% include "parts/filterform.twig" with {"form":toolbar.filterForm} only %}
            </div>
        {% endif %}
        {% if toolbar.buttons is not empty %}
            <div class="col-md-{{ buttonsCol }}">
                <div class="btn-toolbar text-right" role="toolbar" aria-label="Barre d'outils">
                    {% for button in toolbar.buttons %}
                        {{ button.render()|raw }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}